{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="main p-4 items-center justify-center">
    <table class="border-collapse w-full">
        <thead>
            <tr class="bg-blue-100">
                <th class="border-2 px-4 py-2">Index</th>
                <th class="border-2 px-4 py-2">Title</th>
                <th class="border-2 px-96 py-2">Content</th>
                <th class="border-2 px-4 py-2">Date</th>
                <th class="border-2 px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td class="border-2 px-4 py-2">{{ forloop.counter }}</td>
                <td class="border-2 px-4 py-2">{{ note.title }}</td>
                <td class="border-2 px-4 py-2">{{ note.content|striptags|truncatechars:100 }}</td>
                <td class="border-2 px-4 py-2">{{ note.create_date }}</td>
                <td class="border-2 px-4 py-2">
                    <div class="flex justify-center">
                        <form action="{% url 'show' note.id %}" method="get" class="inline">
                            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold px-4 py-2 rounded mx-1">Open</button>
                        </form>
                        {% comment %} <form action="{% url 'show' note.id %}" method="get" class="inline">
                            <button type="submit" class="bg-yellow-400 hover:bg-yellow-700 text-white font-bold px-4 py-2 rounded mx-1">Share</button>
                        </form> {% endcomment %}
                        <form action="{% url 'update_note' note.id %}" method="get" class="inline">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1">Update</button>
                        </form>
                        <form action="{% url 'delete_note' note.id %}" method="post" class="inline">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold px-4 py-2 rounded mx-1">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
